<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>テスト</title>
  </head>
  <body>
    <header>
      <div class=title-left>
        <img src="https://regeld.com/desi/wp-content/uploads/2019/07/heart_d_pink.png">
        <%# <%= link_to "独立行政法人ハートスマイル", post_path, class: "title-left__heading"%>
      </div>
      <div class=title-image></div>
      <div class=title-name>お悩み相談クリニック</div>
        <% if user_signed_in? %>
          <%= link_to "メッセージ相談", new_post_path, class: "header__right-postbtn" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right-logoutbtn" %>
        <% else %>
          <%= link_to "ログイン",new_user_session_path,class: "header-right-loginbtn"%>
          <%= link_to "新規登録",new_user_registration_path,class: "header-right-registerbtn"%>
        <% end %>
    </header>
    <main>
      <div class=main-sentence>
        <div class=main-content>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTuMEoMUjyPaX-FPaJTUITHxx5E4GI7N1LZTwpR21DR0ei-iDeD"alt=""class="main-content--image">
          <ul>
            <li>学校で孤独を感じる…</li>
            <li>職場での人間関係が不安…</li>
            <li>気分が良くなく、憂鬱な日々が多い…</li>
            <li>気分の浮き沈みが激しい…</li>
            <li> 恋人とうまく行かない…</li> 
            <li>などの日常的なお悩み</li>
          </ul>  
        </div>
      </div>
      <div class=main-sentence>
        <div class=main-content>
          <img src="https://furin-hosoku.com/wp-content/uploads/2018/08/regret_01-1280x720.jpg"alt=""class="main-content--image">
          <ul>
            <li>性別に違和感がある…</li>
            <li>性的な差別を受けている…</li>
            <li>家庭内暴力受けている…</li>
            <li>パニック障がい、鬱病、統合失調症、依存症</li> 
            <li>などの専門的なお悩み</li>
          </ul>  
        </div>
      </div>
      <div class=main-sentence>
        <div class=main-content>
          <img src="http://cpw.imagenavi.jp/preview/319/31938135_PW36.jpg"alt=""class="main-content--image__bottom">
          <ul>
            <li>そんなお困りのお悩み…</li>
            <li>誰にも相談出来ないし…と一人で悩む前に</li>
            <li>私達、専門家に相談してみませんか？？</li>
            <li>*登録済みの方は、トップページ<br>
            <li>右上からログインしてください!</li>
          </ul>  
        </div>
      </div>
      <%= link_to "専門家に相談する？",new_user_registration_path,class: "btn-square"%>
    </main>
    <footer></footer>
  </body>
</html>
