<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>テスト</title>
  </head>
  <body>
    <header>
      <div class=title-left>
        <img src="https://regeld.com/desi/wp-content/uploads/2019/07/heart_d_pink.png">
        <%= link_to "トップページに戻る", root_path, class: "title-left__heading"%>
      </div>
      <div class=title-image></div>
      <div class=title-name>お悩み相談クリニック</div>
        <% if user_signed_in? %>
           <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-right--logoutbtn---consultation" %>
        <% end %>
    </header>
    <main>
      <div class="contents row">
      <div class="container">
        <h1>お悩み相談メッセージフォーム</h1>
        <%= form_tag('/posts', method: :post,) do %> 
        <%= label_tag :ニックネーム「入力必須」%>
        <%= text_field_tag :nickname %>
        <div class="label_tag"><%= label_tag :相談したいメッセージはこちら「入力必須」%></div>
        <%= text_area_tag :message, '' , class:'text_area_tag'%>
        <div class="from-text-btn"><%= submit_tag "入力したメッセージ送る？" %></div>
        <% end %>
        
      </div>
      </div>
      
    </main>
    <footer>

    </footer>
  </body>
</html>