
<html>
  <head>
    <meta charset="UTF-8">
    <title>テスト</title>
  </head>
  <body>
    <header> <div class=title-left>
        <img src="https://regeld.com/desi/wp-content/uploads/2019/07/heart_d_pink.png">
        <%# <%= link_to "独立行政法人ハートスマイル", post_path, class: "title-left__heading" %>
        <div class=title-left__heading>トップに戻る</div>
      </div>
      <div class=title-image></div>
      <div class=title-name>お悩み相談クリニック</div>
        <% if user_signed_in? %>
          <%= link_to "メッセージ相談", new_post_path, class: "header__right-postbtn" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right-logoutbtn" %>
        <% else %>
          <%= link_to "ログイン",new_user_session_path,class: "header-right-loginbtn"%>
          <%= link_to "新規登録",new_user_registration_path,class: "header-right-registerbtn"%>
        <% end %>
    </header>
    <main>
      <div class=main-description>
      <div class=main-description--content>
          <img src="http://www.officework.co.jp/wp/wp-content/uploads/2016/09/building1.jpg"alt=""class="main-description--content__image">
          <ul>
            <li>概要</li>
            <li>事業社名: 独立行政法人ハートスマイル</li>
            <li>事業許可日: 2018年6月14日</li>
            <li>住所:  東京都品川区〇〇市123-9  品川ビル3階</li>
            <li>設立日: 2020年4月1日</li>
            <li> 従業員数(精神科医、メンタルケア心理士を除く)：17名</li>
            <li>在籍精神科医: 8名</li>
            <li>在籍メンタルケア心理士：6名</li>
          </ul>  
      </div>
      </div>
        <div class=receptiontitle>営業時間のご案内</div>
          <table class=receptiontime>
            <tbody>
              <tr>
                <th>営業時間</th>
                <th>月</th>
                <th>火</th>
                <th>水</th>
                <th>木</th>
                <th>金</th>
                <th class="sat">土</th>
                <th class="sun">日</th>
              </tr>
              <tr>
                <td>10:00〜13:00</td>
                <td>●</td><!-- 月 -->
                <td>●</td><!-- 火 -->
                <td>ー</td><!-- 水 -->
                <td>●</td><!-- 木 -->
                <td>●</td><!-- 金 -->
                <td>●</td><!-- 土 -->
                <td>ー</td><!-- 日 -->
              </tr>
              <tr>
                <td>14:00〜18:30</td>
                <td>●</td><!-- 月 -->
                <td>●</td><!-- 火 -->
                <td>ー</td><!-- 水 -->
                <td>●</td><!-- 木 -->
                <td>●</td><!-- 金 -->
                <td>●</td><!-- 土 -->
                <td>ー</td><!-- 日 -->
              </tr>
            </tbody>
          </table>
    </main>
    <footer>
      
    </footer>
  </body>
</html>
